body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background: #212f45;
}

.avatar {
    width: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #144552;
    color: #c5e0d8;
    border-bottom: 6px solid #272640;
    border-top: 6px solid #272640;
    border-radius: 10px;
    text-shadow: 2px 2px #272640;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.hove {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    
}

.hove:hover {
    color: #272640;
    box-shadow: inset 200px 0 0 0 #c5e0d8;;
    text-shadow: 1px 1px #144552;
    
}


.border-blue {
    border: 1px dotted blue;
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
